/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-regular-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-regular-webfont.woff') format('woff');
}

.btn-modal{
    background-color:#00bdf2;
    color: #a6e1ec;
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: 10%;
}
.container{
    margin-top: 20px;
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-bold-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-light-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-light-webfont.woff') format('woff');
    font-weight: 300;
}

.mobile-visible{
    display: none !important;
}

h1{
    font-family: ooredoo, sans-serif !important;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}
button,a,button:active,a:active,button:hover,a:hover{
    outline: none !important;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #ed1d24;
    color: #FFF;
    text-shadow: none;
}

::selection {
    background: #ed1d24;
    color: #FFF;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
a, .btn, button,#call-me{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-cover{
    cursor: pointer;
}

.embed-responsive-16by9{
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding-bottom: 25%;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0;
    background: #000;
    color: #FFF;
    padding: 0.2em 0;
    position: fixed;
    opacity: 0.9;
    left: 0;
    right: 0;
    padding: 100px 50px;
    z-index: 10000;
    text-align: center;
}

.outdated-browser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  text-align: center;
  text-transform: uppercase;
  background-color: #f25648;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-size: 100% auto;
    height: 100%;
    font-family: ooredoo !important;
}
#fullpage{
    opacity: 0;
}
.navbar-toggle{
    margin-top: 20px;
    border: 1px solid #ddd;
}
.navbar-toggle .icon-bar{
    background-color: #ed1c24;
}

/* ToolTip navigation.
* --------------------------------------- */

#fp-nav .fp-tooltip{
    background: rgba(0,0,0,0.7);
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 12px !important;
}
#fp-nav a:hover span{
    border: 4px solid #222;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* Loading.
* --------------------------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.loader .spinner {
    width: 100px;
    height: 36px;
    text-align: center;
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.loader .spinner > div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #ed1d24;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.loader .spinner .one {-webkit-animation-delay: -0.32s;animation-delay: -0.32s; }
.loader .spinner .two {-webkit-animation-delay: -0.16s;animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
    position:fixed;
    display:block;
    width: 100%;
    z-index:9;
}

.section{
    overflow: hidden !important;
}

#header{
    background: #FFF;
    top:0px;
}
    .navbar-header{
        padding-bottom: 10px
    }
    .navbar {
        margin-bottom: 0;
        border: none;
    }
    .main_logo{
        width: 213px;
        height: 65px;
        display: block;
        outline: none;
        padding: 18px 0 20px 50px;
    }
    .main_logo img{
        width: 100%;
    }

    .share-buttons {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .nav.navbar-nav{
        margin-top: 25px;
    }
    .nav.navbar-nav .social-share{
        margin-left: 30px;
    }
    .nav.navbar-nav a{
        padding: 3px 20px 0;
        color: #999;
    }
    .nav.navbar-nav a:hover,
    .nav.navbar-nav a:active,
    .nav.navbar-nav a:focus{
        background-color: transparent;
        color: #ed1c24;
    }

    .social-sharing .social{
        position: relative;
        display: inline-block;
        margin: 0 14px 0 0;
        padding: 0 8px 0 35px;
        height: 25px;
        text-align: right;
        border-radius: 4px
    }

    .social-sharing .social.twitter{
        background: url(../img/twitter@2x.png) 8px center no-repeat #55ACEE;
        background-size: 14px
    }

    .social-sharing .social.facebook{
        background: url(../img/facebook@2x.png) 8px center no-repeat #3b5998;
        background-size: 14px
    }

    .social-sharing .social .count {
        position: relative;
        display: inline-block;
        color: #fff;
        min-width: 15px;
        font-size: 12px;
        line-height: 24px;
        font-weight: bold;
    }

    .social-sharing .social a {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%
    }



#section0{
    color: #FFF;
    background: rgb(43, 43, 43) url(../img/7d82d2c6.headerBG.jpg) repeat-x center top;
    background-size: cover;
}
#section0 h1{
    font-size: 52px;
    color: #ed1c24;
    font-weight: normal;
    padding-top: 30px;
}

h1 small{
    font-size: 19px;
    color: rgba(255,255,255,0.4);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 8px;
    display: block;
}
#section0 img{
    width: 120%;
    margin-bottom: -100px;
    margin-left: 70px;
    b
}
#section0 p{
    margin-bottom: 40px;
    line-height: 26px;
}

.caract{
    background: url(../img/bg_sec1.jpg) repeat;
    background-position: fixed;
}
h1{
    color: #ed1c24;
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 10px;
}
#section1{
    background: url(../img/brickwall.png) repeat;
}
#section1 p{
    margin-bottom: 30px;
    line-height: 26px;
    color: #666;
}
#section2 img{
    margin-top: 20px;
}
#section2 h1 small{
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 8px;
        display: block;
        color: #aaa;
    }
    .cart-list{
        margin: 0;
        list-style: none;
    }
    .cart-list li{
        padding-bottom: 10px;
        font-size: 14px;
    }
    .cart-list li i{
        color: #ed1c24;
        font-size: 12px;
        margin-left: -30px;
        margin-right: 10px;
    }

    .download{
        border: 1px solid #ed1d24;
        font-size: 14px;
        padding: 5px 15px;
        margin-top: 10px;
        margin-left: -29px
    }
#section3 .cart-list li{
    color: #ccc;
}

.footer {
    background-color: #fff;
    border: 0;
    font-family: ooredoo;
    color: #000;
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
        .footer a {
            color: rgba(0,0,0,0.5);
        }
            .footer a:hover {
                color: #000;
            }

        .footer.black {
            background-color: #000;
            color: rgba(255,255,255,0.5);
        }
            .footer.black a {
                color: rgba(255,255,255,0.5);
            }
                .footer.black a:hover {
                    color: #fff;
                }

    .copyright {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 14px
    }

#social {
    float: right
}

#social>a {
    display: block;
    float: left;
    margin: 15px 15px 0;
    font-size: 20px;
}

#social>a:hover {
    text-decoration: none;
}






@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }

  60% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px); } }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }

  60% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px); } }

@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }

  60% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }

  60% {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px); } }

.bounce {
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  -ms-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background-color: #ed1c24;
}
.down-btn {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    transition: all .3s;
    position: fixed;
    bottom: 30px;
    left: 50%;
    z-index: 5000;
    margin: 15px 30px 15px -1.5em;
    padding: 0;
    width: 3em;
    height: 3em;
    top: auto;
    background-color: transparent;
    color: #FFF;
    display: block;
    line-height: 2.8em;
    text-align: center;
    opacity: 0.7
}
.down-btn:hover,.down-btn:active,.down-btn:focus{
    text-decoration: none;
}
.tooltip_down {
    margin: 15px 30px;
    outline: none;
    position: fixed;
    bottom: 70px;
    left: 50%;
    z-index: 5000;
    display: block;
    margin-left: -48px;
    padding: 0;
    border-radius: 4px;
    color: #FFF;
    opacity: 0.7
}
@media (max-width: 768px){
    .navbar-collapse{
        border-top: 1px solid #eee;
    }
    .navbar-collapse a{
        font-weight: bold;
        text-align: center;
    }
    .main_logo.navbar-brand {
        width: 165px;
        height: 65px;
        display: block;
        outline: none;
        padding: 18px 0 20px 17px;
    }
    .embed-responsive-16by9{
        padding-bottom: 55%;
    }
    #section0 .info-scroll{
        display: none;
    }
    #section0 img{
        width: 120%;
        margin-bottom: 0;
        margin-left: 0;
    }
}

.modal-content{
    background-color: #eee;
    color: #666;
    border-radius: 10px;
    overflow: hidden;
}
.modal-content .btn{
    width: 100%;
    margin: 20px 0;
}
.modal-header .close{
    margin-top: 7px;
    margin-right: 10px;
}
.modal-header {
    border-bottom: transparent;
    background-color: #FFF;
    text-align: center;
    color: #CCC !important;
    font-size: 28px;
}
.modal-title {
    color: #ed1c24;
    font-size: 27px;
}

#call-me:before{
    content: "\f060";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    left: 20px;
    top: 29px;
}
#call-me{
    background: #ed1c24;
    position: fixed;
    color: #FFF;
    text-align: center;
    padding: 13px 5px 13px 30px;
    bottom: 70px;
    z-index: 1000;
    right: 0;
    max-width: 170px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    transform: translate(120px);
}
#call-me.open{transform: translate(0) !important;}
#call-me:hover{
    opacity: 0.8;
    transform: translate(0);
}
.download.call{
    color: #FFF;
}

.form-group {position: relative;}
.form-group .form-control-feedback{display: none;font-size: 80%;font-style: italic;}
.form-group.has-error .form-control-feedback,
.form-group.has-success .form-control-feedback{display: block;}
.form-group .form-control-feedback:before{
    position: absolute;
    top: -26px;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-group.has-error .form-control-feedback:before{content: "\e014";}
.form-group.has-success .form-control-feedback:before{content: "\e013";}


