/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/* ==========================================================================
   Base Styles
   ========================================================================== */

/**
 * Helper Variables & Functions
 */

$red: #ed1d24;
$primary-color: #4183c4;
$font: ooredoo, helvetica, arial, sans-serif ;

$green: #62bb46;
$yellow: #febd3b;
$blue: #00bdf2;
$purple: #8e5ba6;
$turquoise: #47bfaf;
$gray: #3d5567;
$pink: #e871ab;
$brown: #72635d;


.text-green { color: $green; } .bg-green { background-color: $green; }
.text-yellow { color: $yellow; } .bg-yellow { background-color: $yellow; }
.text-blue { color: $blue; } .bg-blue { background-color: $blue; }
.text-purple { color: $purple; } .bg-purple { background-color: $purple; }
.text-turquoise { color: $turquoise; } .bg-turquoise { background-color: $turquoise; }
.text-gray { color: $gray; } .bg-gray { background-color: $gray; }
.text-pink { color: $pink; } .bg-pink { background-color: $pink; }
.text-brown { color: $brown; } .bg-brown { background-color: $brown; }


@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-regular-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-bold-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-light-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-light-webfont.woff') format('woff');
    font-weight: 300;
}


body{
  font: 1.4em/1.4 $font;
  color: #222;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  // background: url(../img/bg.png) center top no-repeat;
  .flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a, button{
  text-decoration: none;
  transition: all 200ms ease-out;
}

button:active,
button:hover,
button:focus,
a:active,
a:hover,
a:focus{ outline: none !important; }

a {
  color: $red;
  &:hover, &:focus {
    color: $red;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

textarea {
  resize: vertical;
}

.rte-content {

}

// Bootstrap - removing gutter from .row class
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.form-control {
  height: 45px;
  border: none;
  box-shadow: none;
  &:focus {
    border-color: $red;
    box-shadow: none;
    background-color: #fefefe;
  }
}

.note-image-url {
  border: 1px solid #ccc;
}

.control-label {
  color: #666;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-group-addon {
  border: none;
  background-color: #d7d7d7;
}

span.help-block {
  color: #b0b0b0 !important;
}

.has-error.checkbox .control-label {
  color: #666;
}

.sweet-alert h2 {
  font-size: 26px;
}
.sweet-alert p {
  font-size: 14px;
}
