/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-regular-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-bold-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: ooredoo;
    src:
        url('../fonts/ooredoo-light-webfont.woff2') format('woff2'),
        url('../fonts/ooredoo-light-webfont.woff') format('woff');
    font-weight: 300;
}

.mobile-visible{
    display: none !important;
}

h1{
    font-family: ooredoo, sans-serif !important;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}
button,a,button:active,a:active,button:hover,a:hover{
    outline: none !important;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #ed1d24;
    text-shadow: none;
}

::selection {
    background: #ed1d24;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
a, .btn, button{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-cover{
    cursor: pointer;
}

.embed-responsive-16by9{
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding-bottom: 25%;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0;
    background: #000;
    color: #FFF;
    padding: 0.2em 0;
    position: fixed;
    opacity: 0.9;
    left: 0;
    right: 0;
    padding: 100px 50px;
    z-index: 10000;
    text-align: center;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background: #ed1d24 url(../img/bg-office.jpg) no-repeat top;
    background-size: 100% auto;
    height: 100%;
    font-family: ooredoo !important;
}
#fullpage{
    opacity: 0;
}
.navbar-toggle{
    margin-top: 20px;
    border: 1px solid #ddd;
}
.navbar-toggle .icon-bar{
    background-color: #ed1c24;
}

/* ToolTip navigation.
* --------------------------------------- */

#fp-nav .fp-tooltip{
    background: rgba(0,0,0,0.7);
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 12px !important;
}
#fp-nav a:hover span{
    border: 4px solid #222;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* Loading.
* --------------------------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.loader .spinner {
    width: 100px;
    height: 36px;
    text-align: center;
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.loader .spinner > div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #ed1d24;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.loader .spinner .one {-webkit-animation-delay: -0.32s;animation-delay: -0.32s; }
.loader .spinner .two {-webkit-animation-delay: -0.16s;animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
    position:fixed;
    display:block;
    width: 100%;
    z-index:9;
}

.section{
    overflow: hidden !important;
}

#header{
    background: #FFF;
    top:0px;
}
    .navbar-header{
        padding-bottom: 10px
    }
    .navbar {
        margin-bottom: 0;
        border: none;
    }
    .main_logo{
        width: 213px;
        height: 65px;
        display: block;
        outline: none;
        padding: 18px 0 20px 50px;
    }
    .main_logo img{
        width: 100%;
    }

    .share-buttons {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .nav.navbar-nav{
        margin-top: 25px;
    }
    .nav.navbar-nav .social-share{
        margin-left: 30px;
    }
    .nav.navbar-nav a{
        padding: 0 20px;
        color: #999;
    }
    .nav.navbar-nav a:hover,
    .nav.navbar-nav a:active,
    .nav.navbar-nav a:focus{
        background-color: transparent;
        color: #ed1c24;
    }

    .social-sharing .social{
        position: relative;
        display: inline-block;
        margin: 0 14px 0 0;
        padding: 0 8px 0 35px;
        height: 25px;
        text-align: right;
        border-radius: 4px
    }

    .social-sharing .social.twitter{
        background: url(../img/twitter@2x.png) 8px center no-repeat #55ACEE;
        background-size: 14px
    }

    .social-sharing .social.facebook{
        background: url(../img/facebook@2x.png) 8px center no-repeat #3b5998;
        background-size: 14px
    }

    .social-sharing .social .count {
        position: relative;
        display: inline-block;
        color: #fff;
        min-width: 15px;
        font-size: 12px;
        line-height: 24px;
        font-weight: bold;
    }

    .social-sharing .social a {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%
    }

@media (max-width: 768px){
    .navbar-collapse{
        border-top: 1px solid #eee;
    }
    .navbar-collapse a{
        font-weight: bold;
        text-align: center;
    }
    .main_logo.navbar-brand {
        width: 165px;
        height: 65px;
        display: block;
        outline: none;
        padding: 18px 0 20px 17px;
    }
    .embed-responsive-16by9{
        padding-bottom: 55%;
    }
}

.video_container{
    color: #FFF;
}
.video_container p{
    margin-bottom: 40px;
}

.caract{
    background: url(../img/bg_sec1.jpg) repeat;
    background-position: fixed;
}
